body{
    background-color: rgb(66, 63, 68);
    margin: 0px;
    background-image: url(https://images.unsplash.com/photo-1568474648512-a8cb15ee40d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-color: rgb(163, 50, 238) ;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}





body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-track{
background: rgb(53, 38, 63);
}

body::-webkit-scrollbar-thumb{
    background: rgb(112, 72, 206);
    border-radius: 0.1rem;
}



#grid{
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        grid-auto-rows: 240px;
        gap: 1rem;
        padding: 1rem;
        

}
.box{
    text-align: center;
    background-color: rgb(239, 255, 16);
    

   
    
    
}


#bild1
{
   
    background-image: url(https://images.unsplash.com/photo-1555182028-3335505b2dde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&auto=format&fit=crop&w=1950&q=80) ;
    transition: all .2s ease-in-out;
    background-position: center;
   
}

#bild2
{

    background-image: url(https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild3
{
    background-image: url(https://images.unsplash.com/photo-1541028114007-e33143a0a955?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild4
{
    background-image: url();
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild5
{
    background-image: url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1123&q=80);
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild6
{
    background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild7
{
    background-image: url();
    transition: all .2s ease-in-out;
    background-position: center;
}
#bild8
{
    background-image: url();
    transition: all .2s ease-in-out;
    background-position: center;
}






@media screen and (min-width:660px)
{
    

    body{
        background-color: rgb(86, 25, 128) ;
    background-blend-mode: multiply;
        
        padding: 1rem;
        margin: 10%;
        margin-top: 2%;
    }
    #grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
        grid-auto-rows: 15rem;
        gap: 1rem;
        
        
    }
    .tallbox{
        grid-row: span 2/auto;
    }
    .bigbox{
        grid-column: span 2/auto;
        grid-row: span 2/auto;

    }
    .widebox{
        grid-column: span 2/auto;
    }

    #bild1:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;   
    }
    #bild2:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;  
    }
    #bild3:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;
    }
    #bild4:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;  
    }
    #bild5:hover{
        transform: scale(1.04,1.04); 
        border-radius: 0.75rem;  
    }
    #bild6:hover{
        transform: scale(1.04,1.04); 
        border-radius: 0.75rem; 
    }
    #bild7:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;   
    }
    #bild8:hover{
        transform: scale(1.04,1.04);
        border-radius: 0.75rem;
    } 

}